<meta name="twitter:card" content="summary" />
<meta property="twitter:domain"
      content='{{ trim (trim .Site.BaseURL "http://") "https://" }}'
/>
<meta property="twitter:url" content="{{ .Permalink | absURL }}" />

{{ if .IsPage }}
    <meta name="twitter:title" content="{{ .Title }}" />
    
    {{ $image := .Site.Params.icon512 | default "/logo.png" }}
    {{ if .Params.Image }}
    {{ $dir := path.Dir .Params.Image }}
    {{ $file := replace (path.Base .Params.Image) ".svg" ".png" }}
    
    {{/* Reconstructs the path (e.g., /robits/glad.png) */}}
    {{ $imagePath := path.Join $dir $file }}
    
    {{/* Directs the path to your dedicated image host */}}
    {{ $image = printf "https://images.thebu3no.com%s" $imagePath }}
{{ end }}
    <meta name="twitter:image"
        content="{{ $image | absURL }}" />
    <meta property="twitter:image:width" content="64" />
    <meta property="twitter:image:height" content="64" />
    {{ if .Params.description }}
        <meta name="twitter:description" content="{{ .Params.description }}" />
    {{ else }}
        <meta name="twitter:description" content="{{ substr .Summary 0 160 | htmlUnescape | safeHTML }}" />
    {{ end }}
{{ else }}
    <meta name="twitter:title"
        content='{{ .Site.Title }}' />
    {{ if .Site.Params.description }}
        <meta name="twitter:description" content="{{ .Site.Params.description }}" />
    {{ end }}
    <meta name="twitter:image"
      content='{{ "/logo.png" | absURL }}' />
    <meta property="twitter:image:width" content="64" />
    <meta property="twitter:image:height" content="64" />
{{ end }}
