<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain"
      content='{{ trim (trim .Site.BaseURL "http://") "https://" }}'
/>
<meta property="twitter:url" content="{{ .Permalink | absURL }}" />

{{ if .IsPage }}
    <meta name="twitter:title" content="{{ .Title }}" />
    
    {{ $image := .Site.Params.icon512 | default "/img/icon.svg" }}
    {{ if .Params.Image }}
            {{ $dir := path.Dir .Params.Image }}
            {{ $file := replace (path.Base .Params.Image) ".svg" ".png" }}
            {{ $image = path.Join $dir "png" $file }}
    {{ end }}
    <meta name="twitter:image"
        content="{{ $image | absURL }}" />
    <meta property="twitter:image:width" content="64" />
    <meta property="twitter:image:height" content="64" />
    {{ if .Params.description }}
        <meta name="twitter:description" content="{{ .Params.description }}" />
    {{ else }}
        <meta name="twitter:description" content="{{ substr .Summary 0 160 | htmlUnescape | safeHTML }}" />
    {{ end }}
{{ else }}
    <meta name="twitter:title"
        content='{{ .Site.Title | default "Ficurinia" }}' />
    {{ if .Site.Params.description }}
        <meta name="twitter:description" content="{{ .Site.Params.description }}" />
    {{ end }}
    <meta name="twitter:image"
      content='{{ "/logo.png" | absURL }}' />
    <meta property="twitter:image:width" content="64" />
    <meta property="twitter:image:height" content="64" />
{{ end }}
