<header class="{{ if .IsHome }}jumbotronContainer{{ end }}">
    {{- partial "inject/header-before.html" . -}}
    <div class="headerAndGamesContainer">
        <div id="titleAndLinksContainer">
            <div id="titleContainer">
                {{ if not (.Site.Params.logoRightOfTitle | default false) }}
                <a class="unstyledLink" href="/">
                    <img src='{{ .Site.Params.Logo | default "/logo.svg" }}' alt='{{ .Site.Params.LogoAltText | default "Logo" }}'/>
                </a>
                {{ end }}
                        <h1>
                        <a class="unstyledLink" href="/">{{ .Site.Title | default "Ficurinia" }}</a>
                        {{ if .Site.Params.logoRightOfTitle | default false }}
                            <img src='{{ .Site.Params.Logo | default "/logo.svg" }}' alt='{{ .Site.Params.LogoAltText | default "Logo" }}'/>
                        {{ end }}
                        </h1>
                        {{ if (.Site.Params.mobileHamburgerNav | default false) }}
                        <label id="hamburger-menu" for="main-nav-toggler">
                            &#xf85b;
                        </label>
                        {{ end }}
                    <div id="wide_nav">
                        {{- partial "header_navigation.html" . -}}
                </div>
           
            </div>
            <div id="linksAndPointersContainer">
            <div class="pointer"> </div>
            <div id="links">
                {{ if .Site.Params.showRss | default true }}
                    {{- partial "iconlink" (dict "Identifier" "rss" "Name" "RSS" "URL" "/index.xml") -}}
                {{ end }}
                {{ range .Site.Params.links }}
                    {{- partial "nerdlink" . -}}
                {{ end }}
                {{ range .Site.Menus.icons }}
                    {{- partial "iconlink" . -}}
                {{ end }}
            </div>
            <div class="pointer"><-links</div>
            </div>
            
        </div>
    
        <div id="games">
            {{ if .IsHome }}
            <p><i><span class="red">hey!</span> play a game with me. here's the type of stuff i like</i></p>

            <ul>
                <li class="red">strategy stuff</li>
                <li>root</li>
                <li>armello</li>
                <li>hexarchy</li>
                <li>dominion</li>
                <li>talisman</li>
            </ul>
            
            <ul><li class='red'>action stuff</li>
                <li>albion online</li>
                <li>pulsar: lost colony</li>
                <li>void crew</li>
                <li>dark and darker</li>
                <li>heroes of the storm</li>
                <li>star citizen</li>
            </ul>

                <ul><li class="red">party stuff</li>
                    <li>mario party</li>
                    <li>pummel party</li>
                    <li>mount your friends</li>
                    <li><p></li>
                    <li class="red">tcgs</li>
                    <li>sorcery</li>
                    <li>keyforge</li>
                </ul>
        </div>
        {{ end }}
    </div>
    {{ if and
        (.Site.Params.enableSidebarLayout | default false)
        (or
            (not (.Site.Params.enableJumbotron | default false))
            (not .IsHome)
        )
    }}
        <div id="sidebar_nav">
            {{- partial "header_navigation.html" . -}}
        </div>
        {{ if and .IsPage .Params.toc }}
            <div class="sidebarToc">
                <hr />
                {{ .TableOfContents }}
            </div>
        {{ end }}
    {{ end }}
    {{- partial "inject/header-after.html" . -}}
    {{- partial "jumbotron.html" . -}}
</header>
