{{ if eq (lower .Identifier) "discord" }}
<div class="nerdlink" id="discord-icon">
{{ $icon := index site.Data.supported_icons (lower .Identifier) | safeHTML }}
{{ if $icon }}
 <p>   {{ $icon | safeHTML }}
{{ else }}
   {{ .Name }}
{{ end }}
<span>
    {{ .Name }}
</span> 
</p>
</div>
{{ else }}
<a 
    {{ if eq (lower .Identifier) "mastodon" }}
        rel="me"
    {{ else }}
        rel="noreferrer"
    {{ end }}
    target="_blank"
    class="nerdlink"
    href="{{ .URL | safeURL }}">
    {{ $icon := index site.Data.supported_icons (lower .Identifier) | safeHTML }}
    {{ if $icon }}
        {{ $icon | safeHTML }}
    {{ else }}
        {{ .Name }}
    {{ end }}
    <span>
        {{ .Name }}
    </span> 
</a>
{{ end }}