<!-- This code will be injected after a post or page content -->

{{ if .Params.display_prev_next | default true }}
<div id="next-previous-container">
	<div class="next-post">
		{{ if .Next }}
		<a class="link-reverse" href="{{ .Next.Permalink }}?ref=footer">« {{ .Next.Title | truncate 50 "..." }}</a>
		{{ end }}
	</div>

	<div class="previous-post">
		{{ if .Prev }}
		<a class="link-reverse" href="{{ .Prev.Permalink }}?ref=footer">{{ .Prev.Title | truncate 50 "..."}} »</a>
		{{ end }}
	</div>
</div>
{{ end }}