<!-- This code will be injected before closing the header -->

       <div id="games">
              <div> <!-- need the div here to combine and message and first list into one column -->
            {{ if or .IsHome .Params.display_games | default false }}
            <p><i><span class="red">hi!</span> here's some stuff i'm playing lately or interested in, i try to keep it updated for fun.</i></p>
            <ul>
              <li class='red'>mmos</li>
              <li>ashes_of_creation</li>
              <li>albion_online</li>
              <li>light_no_fire</li>
            </ul>
              </div>
             
              <ul>
              <li class='red'>actiony stuff</li>
              <li>league_of_legends</li>
              <li>wreckfest_2</li>
              <li>nier_automata</li>
              <li>outer_wilds</li>    
              <li>divinity</li>
              <li>star_citizen</li>
              <li>marathon</li>
              <li>light_of_motiram?</li>            
              </ul>
              
              <ul>
              <li class='red'>huh?</li>
              <li>clone_hero</li>
              <li><p></li>
              <li class="red">tabletop</li>
              <li>twilight_imperium</li>
              <li>sorcery_tcg</li>
              <li>warlord_tcg</li>
              <li>hubworld_aidalon</li>
              <li>arcs</li>
              <li><p></li>
              <li>🔗<a class="blue" href="/extras/honorable-mentions/">honorable mentions</a></li>
              </ul>

              <ul>
              <li class="red">strategy stuff</li>
              <li>mahjong_soul</li>
              <li>the_bazaar</li>
              <li>baldurs_gate</li>
              <li>sovl_fantasy_warfare</li>
              <li>total_war_40k</li>
              <li>shadow_tactics</li>
              <li>dawn_of_war_iv</li>
              <li><p></li>
              <li class="red">party stuff</li>
              <li>lego_party!</li>
              <li>caracoles</li>            
              </ul>
              
        </div>
        {{ end }}
    </div>


<div class="header-after-container">



</div>
