<!-- This code will be injected before closing the header -->

       <div id="games">
              <div> <!-- need the div here to combine and message and first list into one column -->
            {{ if or .IsHome .Params.display_games | default false }}
            <p><i><span class="red">hi!</span> here's some stuff i'm playing lately or interested in, i try to keep it updated for fun.</i></p>
            <ul>
              <li class='red'>mmos</li>
              <li>ashes of creation</li>
              <li>albion online</li>
              <li>light no fire</li>
            </ul>
              </div>
             
              <ul>
              <li class='red'>actiony stuff</li>
              <li>league of legends</li>
              <li>wreckfest 2</li>
              <li>nier automata</li>
              <li>outer wilds</li>    
              <li>divinity</li>
              <li>star citizen</li>
              <li>marathon</li>
              <li>light of motiram?</li>          
              </ul>
              
              <ul>
              <li class='red'>huh?</li>
              <li>clone hero</li>
              <li><p></li>
              <li class="red">tabletop</li>
              <li>twilight imperium</li>
              <li>sorcery tcg</li>
              <li>warlord tcg</li>
              <li>hubworld aidalon</li>
              <li>arcs</li>
              <li><p></li>
              <li>🔗<a class="blue" href="/extras/honorable-mentions/">honorable mentions</a></li>
              </ul>

              <ul>
              <li class="red">strategy stuff</li>
              <li>mahjong soul</li>
              <li>the bazaar</li>
              <li>baldurs gate</li>
              <li>sovl fantasy warfare</li>
              <li>total war 40k</li>
              <li>shadow tactics</li>
              <li>dawn of war iv</li>
              <li><p></li>
              <li class="red">party stuff</li>
              <li>lego party!</li>
              <li>caracoles</li>            
              </ul>
              
        </div>
        {{ end }}
    </div>


<div class="header-after-container">



</div>
