<!-- This code will be injected before closing the header -->

       <div id="games">
            <div>
            {{ if .IsHome }}
            <p><i><span class="red">hey!</span> play a game with me. here's the type of stuff i like</i></p>
            <ul>
                <li class="red">future hype</li>
                <li>light no fire</li>
                <li>ashes of creation</li>
                <li>marathon</li>
            </ul>
            </div>
            <ul>
                <li class="red">strategy stuff</li>
                <li>solium infernum</li>
                <li>root</li>
                <li>stellaris nexus</li>
                <li>hexarchy</li>
                <li>oath</li>
                <li><p></li>
                <li class="red">huh?</li>
                <li>fortnite festival</li>
            </ul>
            
            <ul><li class='red'>actiony stuff</li>
                <li>halo: infinite</li>
                <li>pulsar: lost colony</li>
                <li>destiny 2</li>
                <li>dark and darker</li>
                <li>heroes of the storm</li>
                <li>star citizen</li>
                <li>battlebit remastered</li>
                <li><p></li>
                <li class='red'>mmos?</li>
                <li>:(</li>
            </ul>

                <ul><li class="red">party stuff</li>
                    <li>mario party</li>
                    <li>pummel party</li>
                    <li>mount your friends</li>
                    <li><p></li>
                    <li class="red">tcgs</li>
                    <li>sorcery</li>
                    <li>keyforge</li>
                    <li>solforge fusion</li>
                    </ul>
        </div>
        {{ end }}
    </div>


<div class="header-after-container">



</div>
